@using WealthHealth.Models
@model RegisterLoginViewModel
@{
    ViewBag.Title = "Log in";
}
<body class="welcome">
    <div hidden="hidden">
        <audio src="~/Audio/Website Intro.mp3" autoplay="autoplay"></audio>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <h1 style="text-align: center; text-decoration:solid" hidden="hidden" id="hello" class="bam">Welcome &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Wealth &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Health</h1>
    <br />
    <br />
    <h3 style="text-align: center; color: #e8e8e8" hidden="hidden" id="returning" class="bam">Have you been here before?</h3>
    <br />
    <br />
    
    <div style="text-align:center" id="decide" hidden="hidden">
        <div class="btn-group" data-toggle="buttons" hidden="hidden">

            <label class="btn btn-info" style="width: 200px; height:50px; font-size: 25px;" onclick="toLogin(1)">

                <input id="option1" type="radio" name="member" value="returning" />

                Yes


            </label>
            <label class="btn btn-info" style="width: 200px; height:50px; font-size: 25px;" onclick="toLogin(2)">

                <input id="option2" type="radio" name="member" value="new" />

                No


            </label>
            <label class="btn btn-info" style="width: 200px; height:50px; font-size: 25px;" onclick="toLogin(3)">

                <input id="option3" type="radio" name="member" value="visiting" />

                Demo


            </label>

        </div>
    </div>   
    <br />
    <br />
    <div class="container">
        <div class="row" hidden="hidden" id="return" style="color: #e8e8e8;">
            <div class="col-md-8">
                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h4>Use a local account to log in.</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Log in" class="btn btn-info" />
                            </div>
                        </div>
                        <p>
                          
                        </p>
                        @* Enable this once you have account confirmation enabled for password reset functionality
                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>*@
                    }
                </section>
            </div>
            <div class="col-md-4">
                <section id="socialLoginForm">
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </section>
            </div>
        </div>
    </div>
    <div class="container">
        <div id="create" class="row" hidden="hidden" style="color: #e8e8e8;">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Create a new account.</h4>
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-d" value="Register" />
                    </div>
                </div>
            }
        </div>
    </div>
</body>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
    $(document).ready(function () {

        $("#hello").fadeIn(2000);
        $("#returning").delay(2000).fadeIn(1000);
        $("#decide").delay(2000).fadeIn(1000);
    });
    var first = false;
    function toLogin(number){
        switch (number) {
            case 1:
                if (first == false) {
                    first = true;
                    $("#return").fadeIn(800);
                    break;
                }
                $("#create").slideUp(400);
                $("#return").delay(400).fadeIn(800);
                break;
            case 2:
                if (first == false) {
                    first = true;
                    $("#create").fadeIn(800);
                    break;
                }
                $("#return").slideUp(400);
                $("#create").delay(400).fadeIn(800);
                break
        }
    }

</script>
}