<!DOCTYPE html>
<html>
<head>
    @using WealthHealth.Models
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*@Styles.Render("~/css/css")*@
    @*@Scripts.Render("~/bundles/modernizr")*@

    <title>Dashboard - Canvas Admin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="">
    <meta name="author" content="" />
    <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Arimo:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,800italic,400,600,800" type="text/css">


    <link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="~/js/libs/css/ui-lightness/jquery-ui-1.9.2.custom.css" type="text/css" />
    <link rel="stylesheet" href="~/js/plugins/magnific/magnific-popup.css" type="text/css" />
    <link rel="stylesheet" href="~/js/plugins/icheck/skins/minimal/blue.css" type="text/css" />
    <link rel="stylesheet" href="~/js/plugins/select2/select2.css" type="text/css" />
    <link rel="stylesheet" href="~/js/plugins/fullcalendar/fullcalendar.css" type="text/css" />

    <link rel="stylesheet" href="~/css/App.css" type="text/css" />

    <link rel="stylesheet" href="~/css/custom.css" type="text/css" />
</head>
@if (User.Identity.IsAuthenticated)
{
    <body>

        <div id="wrapper">

            <header id="header">

                <h1 id="site-logo">
                    <a href="/Home/Index">
                        <img src="~/img/logos/logo.png" alt="Site Logo" />
                    </a>
                </h1>

                <a href="javascript:;" data-toggle="collapse" data-target=".top-bar-collapse" id="top-bar-toggle" class="navbar-toggle collapsed">
                    <i class="fa fa-cog"></i>
                </a>

                <a href="javascript:;" data-toggle="collapse" data-target=".sidebar-collapse" id="sidebar-toggle" class="navbar-toggle collapsed">
                    <i class="fa fa-reorder"></i>
                </a>

            </header> <!-- header -->


            <nav id="top-bar" class="collapse top-bar-collapse">

                <ul class="nav navbar-nav pull-left">
                    <li class="">
                        <a href="/Home/Index">
                            <i class="fa fa-home"></i>
                            Home
                        </a>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
                            Test <span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu" role="menu">
                            <li><a href="javascript:;"><i class="fa fa-user"></i>&nbsp;&nbsp;EAT</a></li>
                            <li><a href="javascript:;"><i class="fa fa-calendar"></i>&nbsp;&nbsp;MOAR</a></li>
                            <li class="divider"></li>
                            <li><a href="javascript:;"><i class="fa fa-tasks"></i>&nbsp;&nbsp;STUFF</a></li>
                        </ul>
                    </li>

                </ul>

                @Html.Partial("_LoginPartial")


            </nav> <!-- /#top-bar -->
            <div id="sidebar-wrapper" class="collapse sidebar-collapse">
                <div id="search">
                    <form>
                        <input class="form-control input-sm" type="text" name="search" placeholder="Search..." />

                        <button type="submit" id="search-btn" class="btn"><i class="fa fa-search"></i></button>
                    </form>
                </div> <!-- #search -->

                <nav id="sidebar">

                    <ul id="main-nav" class="open-active">

                        <li class="active">
                            <a href="/Home/Index">
                                <i class="fa fa-dashboard"></i>
                                Dashboard
                            </a>
                        </li>

                        <li class="dropdown">
                            <a href="javascript:;">
                                <i class="fa fa-file-text"></i>
                                Account
                                <span class="caret"></span>
                            </a>

                            <ul class="sub-nav">
                                <li>
                                    <a href="/Accounts/Index">
                                        <i class="fa fa-user"></i>
                                        View Accounts
                                    </a>
                                </li>
                            </ul>

                        </li>

                        <li class="dropdown">
                            <a href="javascript:;">
                                <i class="fa fa-tasks"></i>
                                Form Elements
                                <span class="caret"></span>
                            </a>

                            <ul class="sub-nav">
                                <li>
                                    <a href="./form-regular.html">
                                        <i class="fa fa-location-arrow"></i>
                                        Regular Elements
                                    </a>
                                </li>
                                <li>
                                    <a href="./form-extended.html">
                                        <i class="fa fa-magic"></i>
                                        Extended Elements
                                    </a>
                                </li>
                                <li>
                                    <a href="./form-validation.html">
                                        <i class="fa fa-check"></i>
                                        Validation
                                    </a>
                                </li>
                            </ul>

                        </li>

                        <li class="dropdown">
                            <a href="javascript:;">
                                <i class="fa fa-desktop"></i>
                                UI Features
                                <span class="caret"></span>
                            </a>

                            <ul class="sub-nav">
                                <li>
                                    <a href="./ui-buttons.html">
                                        <i class="fa fa-hand-o-up"></i>
                                        Buttons
                                    </a>
                                </li>
                                <li>
                                    <a href="./ui-tabs.html">
                                        <i class="fa fa-reorder"></i>
                                        Tabs & Accordions
                                    </a>
                                </li>

                                <li>
                                    <a href="./ui-popups.html">
                                        <i class="fa fa-asterisk"></i>
                                        Popups / Notifications
                                    </a>
                                </li>

                                <li>
                                    <a href="./ui-sliders.html">
                                        <i class="fa fa-tasks"></i>
                                        Sliders
                                    </a>
                                </li>

                                <li class="">
                                    <a href="./ui-typography.html">
                                        <i class="fa fa-font"></i>
                                        Typography
                                    </a>
                                </li>

                                <li class="">
                                    <a href="./ui-icons.html">
                                        <i class="fa fa-star-o"></i>
                                        Icons
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="javascript:;">
                                <i class="fa fa-table"></i>
                                Tables
                                <span class="caret"></span>
                            </a>

                            <ul class="sub-nav">
                                <li>
                                    <a href="./table-basic.html">
                                        <i class="fa fa-table"></i>
                                        Basic Tables
                                    </a>
                                </li>
                                <li>
                                    <a href="./table-advanced.html">
                                        <i class="fa fa-table"></i>
                                        Advanced Tables
                                    </a>
                                </li>
                                <li>
                                    <a href="./table-responsive.html">
                                        <i class="fa fa-table"></i>
                                        Responsive Tables
                                    </a>
                                </li>
                            </ul>

                        </li>

                        <li>
                            <a href="./ui-portlets.html">
                                <i class="fa fa-list-alt"></i>
                                Portlets
                            </a>
                        </li>

                        <li class="dropdown">
                            <a href="javascript:;">
                                <i class="fa fa-bar-chart-o"></i>
                                Charts & Graphs
                                <span class="caret"></span>
                            </a>

                            <ul class="sub-nav">
                                <li>
                                    <a href="./chart-flot.html">
                                        <i class="fa fa-bar-chart-o"></i>
                                        jQuery Flot
                                    </a>
                                </li>
                                <li>
                                    <a href="./chart-morris.html">
                                        <i class="fa fa-bar-chart-o"></i>
                                        Morris.js
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="javascript:;">
                                <i class="fa fa-file-text-o"></i>
                                Extra Pages
                                <span class="caret"></span>
                            </a>

                            <ul class="sub-nav">
                                <li>
                                    <a href="./page-login.html">
                                        <i class="fa fa-unlock"></i>
                                        Login Basic
                                    </a>
                                </li>
                                <li>
                                    <a href="./page-login-social.html">
                                        <i class="fa fa-unlock"></i>
                                        Login Social
                                    </a>
                                </li>
                                <li>
                                    <a href="./page-404.html">
                                        <i class="fa fa-ban"></i>
                                        404 Error
                                    </a>
                                </li>
                                <li>
                                    <a href="./page-500.html">
                                        <i class="fa fa-ban"></i>
                                        500 Error
                                    </a>
                                </li>
                                <li>
                                    <a href="./page-blank.html">
                                        <i class="fa fa-file-text-o"></i>
                                        Blank Page
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>

                </nav> <!-- #sidebar -->
            </div> <!-- /#sidebar-wrapper -->
            <div id="content">
                @RenderBody()
            </div>
        </div> <!-- #wrapper -->
                <footer id="footer">
                    <ul class="nav pull-right">
                        <li>
                            Copyright &copy; Jon Carlee 2015.
                        </li>
                    </ul>
                </footer>
        <div id="leave" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title">Leaving The Household</h3>
                    </div>
                    <div class="modal-body">
                        <p id="whoisleaving"></p>
                    </div>
                    <div class="modal-footer">
                        <form method="get" action="/Home/Leave/@User.Identity.GetHouseholdId()">
                            <input type="submit" class="btn btn-danger" value="Leave The Household" />
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </form>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        

        <div id="newAccount" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title">Create An Account</h3>
                    </div>
                    <form method="post" action="/Accounts/Create">
                        @Html.AntiForgeryToken()
                        <div class="modal-body">

                            <div class="form-group">
                                <div class="col-md-2">
                                    Name
                                </div>
                                <div class="col-md-10">
                                    <input class="form-control" data-val="true" data-val-required="The Name field is required." id="" name="Name" type="text" value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-2">
                                    Goal
                                </div>
                                <div class="col-md-10">
                                    <input class="form-control" data-val="true" data-val-required="The Name field is required." id="" name="Amount" type="text" value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-2">
                                    Category
                                </div>
                                <div class="col-md-10">
                                    <input class="form-control" data-val="true" data-val-required="The Name field is required." id="" name="Amount" type="text" value="">
                                </div>
                            </div>

                            <input type="hidden" name="HouseholdId" value="@User.Identity.GetHouseholdId()" />
                        </div>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-info" value="Create Account" />
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>

                        </div>
                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div id="newBudget" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title">Create A Budget Item</h3>
                    </div>
                    <form method="post" action="/Accounts/Create">
                        @Html.AntiForgeryToken()
                        <div class="modal-body">

                            <div class="form-group">
                                <div class="col-md-2">
                                    Name
                                </div>
                                <div class="col-md-10">
                                    <input class="form-control" data-val="true" data-val-required="The Name field is required." id="" name="Name" type="text" value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-2">
                                    Goal
                                </div>
                                <div class="col-md-10">
                                    @ViewBag.Error
                                    <input class="form-control" data-val="true" data-val-required="The Goal field is required." id="" name="Amount" onkeypress="return restrictCharacters(this, event, floatOnly)" type="text" autocomplete="off" decimalprecision="2" maxlength="14" placeholder="0.00" value="">
                                </div>
                            </div>
                            <input type="checkbox" onclick=""  value="New Category"/>
                            <input type="hidden" name="HouseholdId" value="@User.Identity.GetHouseholdId()" />
                        </div>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-info" value="Create Account" />
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>

                        </div>
                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
            <script src="~/js/libs/jquery-1.9.1.min.js"></script>
            <script src="~/js/libs/jquery-ui-1.9.2.custom.min.js"></script>
            <script src="~/js/plugins/icheck/jquery.icheck.min.js"></script>
            <script src="~/js/plugins/select2/select2.js"></script>
            <script src="~/js/plugins/tableCheckable/jquery.tableCheckable.js"></script>
            <script src="~/js/App.js"></script>
            <script src="~/js/libs/raphael-2.1.2.min.js"></script>
            <script src="~/js/plugins/morris/morris.min.js"></script>
            <script src="~/js/plugins/sparkline/jquery.sparkline.min.js"></script>
            <script src="~/js/plugins/howl/howl.js"></script>
            <script src="~/js/plugins/fullcalendar/fullcalendar.min.js"></script>
            <script src="~/js/libs/bootstrap.js"></script>
            <script src="~/js/libs/bootstrap.min.js"></script>
        <script>
        var digitsOnly = /[1234567890]/g;
        var floatOnly = /[0-9\.]/g;
        var alphaOnly = /[A-Za-z]/g;

        function restrictCharacters(myfield, e, restrictionType) {
        if (!e) var e = window.event
        if (e.keyCode) code = e.keyCode;
        else if (e.which) code = e.which;
        var character = String.fromCharCode(code);
        // if they pressed esc... remove focus from field...
        if (code==27) { this.blur(); return false; }
        // ignore if they are press other keys
        // strange because code: 39 is the down key AND ' key...
        // and DEL also equals .
        if (!e.ctrlKey && code!=9 && code!=8 && code!=36 && code!=37 && code!=38 && (code!=39 || (code==39 && character=="'")) && code!=40) {
        if (character.match(restrictionType)) {
        return true;
        } else {
        return false;
        }
        }
        }
    </script>
        @RenderSection("scripts", required: false)
    </body>
}
else
{
    
        @RenderBody()

        @RenderSection("scripts", required: false)
    
}
</html>